<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>  </title>
  </head>
  <body>
      <script src="/socket.io/socket.io.js" charset="utf-8"></script>

      <script type="text/javascript">
       var socket = io();
       socket.on('posfila',function(data) {
       //console.log(data.posfila)
       //console.log(data.link)
       if(data.posfila==0){
      window.location.replace(data.link);
       }else if(posfila>0){
    window.location.replace('/fila');
           }
  });
      </script>
  </body>
</html>
